{{!< default}}
{{> "layout/site-header"}}
{{!-- Tag template with enhanced styling --}}
<main class="tag-content">
    <div class="container">
        {{#tag}}
        <!-- Tag Header Section -->
        <section class="tag-header">
            <header class="tag-header-content">
                <p class="topic-icon">{{> "icons/channel"}}</p>
                <h1 class="tag-title">{{name}}</h1>
                {{#if description}}
                <p class="tag-description">{{description}}</p>
                {{else}}
                <p class="tag-description">You can find everything we published and filed into the {{name}} topic here. There are currently {{plural ../pagination.total empty="No posts" singular="% post" plural="% posts"}} to check out. Enjoy!</p>
                {{/if}}

            </header>
        </section>
        {{/tag}}

        <div class="layout">
            <div class="content">


                <!-- Posts Container -->
                <div class="posts-container">
                    {{#foreach posts}}
                    {{#has tag="#featured"}}
                      {{> "cards/featured-card"}}
                    {{else}}
                      {{#has tag="#bookmark"}}
                        {{> "cards/bookmark-card"}}
                      {{else}}
                        {{#has tag="#note"}}
                          {{> "cards/note-card"}}
                        {{else}}
                          {{#has tag="#quote"}}
                            {{> "cards/quote-card"}}
                          {{else}}
                            {{#has tag="#video"}}
                              {{> "cards/video-card"}}
                            {{else}}
                              {{!-- Default post type if no special tag --}}
                              {{> "cards/article-card"}}
                            {{/has}}
                          {{/has}}
                        {{/has}}
                      {{/has}}
                    {{/has}}
                    {{else}}
                    <div class="no-posts">
                        <p>No posts found matching this tag.</p>
                    </div>
                    {{/foreach}}
                </div>

                <!-- Pagination -->
                {{#if pagination}}
                <div class="pagination">
                    <div class="pagination-navigation">
                        {{#if pagination.prev}}
                            <a class="newer-posts" href="{{page_url pagination.prev}}">&larr; Newer Posts</a>
                        {{/if}}
                        <span class="page-number">Page {{pagination.page}} of {{pagination.pages}}</span>
                        {{#if pagination.next}}
                            <a class="older-posts" href="{{page_url pagination.next}}">Older Posts &rarr;</a>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            </div>

            <!-- Sidebar -->
            {{> "layout/sidebar"}}
        </div>
    </div>
</main>