<!-- Regular Article -->
<article class="card {{post_class}}">
    <div class="card-content">
        <header>
        <div class="meta">
            <span class="tag">{{#primary_tag}}<a href="{{url}}">{{name}}</a>{{/primary_tag}}</span>
        </div>
        <h2><a href="{{url}}">{{title}}</a></h2>
        </header>
        {{#if feature_image}}
        <figure>
            <picture>
                <source
                    srcset="
                        {{img_url feature_image size="s" format="avif"}} 560w,
                        {{img_url feature_image size="l" format="avif"}} 1120w"
                    sizes="(min-width: 1200px) 560px, 100vw"
                    type="image/avif">
                <source
                    srcset="
                        {{img_url feature_image size="s" format="webp"}} 560w,
                        {{img_url feature_image size="l" format="webp"}} 1120w"
                    sizes="(min-width: 1200px) 560px, 100vw"
                    type="image/webp">
                <img
                    srcset="
                        {{img_url feature_image size="s"}} 560w,
                        {{img_url feature_image size="l"}} 1120w"
                    sizes="(min-width: 1200px) 560px, 100vw"
                    src="{{img_url feature_image size="s"}}"
                    class="card-image"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    loading="lazy"
                    width="560"
                    height="373">
                    {{#if feature_image_caption}}

                    {{/if}}
            </picture>
        </figure>
        {{/if}}
    {{#if custom_excerpt}}
        <!-- If there's a custom excerpt -->
        <p class="excerpt">{{custom_excerpt}}</p>
        <p class="readmore">please jump this link to <a href="{{url}}">read this article{{> "icons/arrow-up"}}</a></p>
    {{else}}
            <div class="post-content">
                {{content}}
            </div>
            <footer>
                <div class="post-info">
                {{#primary_author}}
                   <a class="avatar wiggle" href="{{url}}"><img srcset="{{img_url profile_image size="xxs" format="webp"}} 50w, {{img_url profile_image size="xs" format="webp"}} 100w" sizes="50vw" src="{{img_url profile_image size="xs" format="webp"}}" alt="{{name}}'s Avatar" width="40" height="40" loading="lazy"></a>
                   {{/primary_author}}
                <span class="pub-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at format="dddd, D MMMM, YYYY"}}</time></span>
                </div>
                {{> "utilities/post-dropdown"}}
            </footer>
        {{/if}}
    </div>
</article>