<!-- Bookmark -->
<article class="bookmark {{post_class}}">
    <div class="bookmark-header">
        <div>
            <div class="meta">
                <span class="tag">{{#primary_tag}}<a href="{{url}}">{{name}}</a>{{/primary_tag}}</span>
                <span><time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at format="MMMM D, Y, h:mm A"}}</time></span>
            </div>
            <h2><a href="{{url}}">{{title}}</a></h2>
        </div>
    </div>
    <div class="bookmark-comment">
        <div class="post-content">
            {{content}}
        </div>
        <footer>
           <ul class="post-tags">
               {{#if tags}}
               {{#foreach tags}}
                   <li><a href="{{url}}" title="{{name}}">{{> "icons/hash"}}{{name}}</a></li>
               {{/foreach}}
               {{/if}}
           </ul>
            {{> "utilities/post-dropdown"}}
        </footer>
    </div>
</article>