<!-- Bookmark -->
<article class="bookmark {{post_class}}">
    <div class="bookmark-header">
        <div>
           <footer>
               <p>{{tags limit="1" separator=", "}} <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at format="M/D, H:MM"}}</time></p>
               {{> "utilities/post-dropdown"}}
           </footer>
            <!--<div class="bookmark-source-container"></div>-->
            <h2><a href="{{url}}">{{title}}</a></h2>
        </div>
    </div>
    <div class="bookmark-comment">
        <div class="post-content">
            {{content}}
        </div>
    </div>
</article>