<!-- Bookmark -->
<article class="bookmark {{post_class}}">
    <div class="bookmark-header">
        <div>
            <div class="meta">
                <span class="tag">
                    {{> "icons/paperclip"}} {{#primary_tag}}<a href="{{url}}">{{name}}</a>{{/primary_tag}}</span>
                <span class="pub-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at timeago="true"}}</time></span>
            </div>
            <h2><a href="{{url}}">{{title}}</a></h2>
        </div>
    </div>
    <div class="bookmark-comment">
        <div class="post-content">
            {{content}}
        </div>
        <footer>
          {{#if tags}}
              <ul class="post-topics">
              {{#foreach tags}}
                <li>
                  <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">#{{name}}</a>
                </li>
              {{/foreach}}
              </ul>
            {{/if}}
            {{> "utilities/post-dropdown"}}
        </footer>
    </div>
</article>