<!-- Quote -->
<article class="quote {{post_class}}">
    <div class="meta">
        <span class="tag">{{#primary_tag}}<a href="{{url}}">{{name}}</a>{{/primary_tag}}</span>
        <span><time datetime="{{date format="YYYY-MM-DD"}}"><a href="{{url}}">{{date published_at format="MMMM D, h:mmA"}}</a></time></span>
    </div>
    <h2><a href="{{url}}">{{title}}</a></h2>
    <div class="post-content">
        {{content}}
    </div>
    <footer>
        <ul class="post-tags">
            {{#if tags}}
            {{#foreach tags}}
                <li><a href="{{url}}" title="{{name}}">{{> "icons/hash"}}{{name}}</a></li>
            {{/foreach}}
            {{/if}}
        </ul>
        {{> "utilities/post-dropdown"}}
    </footer>
</article>
