<!-- Video -->
<article class="video-container {{post_class}}">
    <div class="video-comment">
        <div class="meta">
            <span class="tag">{{#primary_tag}}<a href="{{url}}">{{name}}</a>{{/primary_tag}}</span>
            <span class="pub-date"><a href="{{@site.url}}/{{url}}"><time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at timeago="true"}}{{> "icons/arrow-up"}}</time></a></span>
        </div>
        <h2><a href="{{url}}">{{title}}</a></h2>
        <div class="post-content">
            {{content}}
        </div>
        <footer>
            <ul class="post-tags">
                {{#if tags}}
                {{#foreach tags}}
                    <li><a href="{{url}}" title="{{name}}">{{> "icons/hash"}}{{name}}</a></li>
                {{/foreach}}
                {{/if}}
            </ul>
            {{> "utilities/post-dropdown"}}
        </footer>
    </div>
</article>